NEXT_PUBLIC_TALLY_FORM_URL=https://tally.so/r/rjpoD5
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/5511965843106?text=Ol%C3%A1%2C%20vim%20pelo%20site%20da%20Solo%20Povoado%20e%20quero%20um%20diagn%C3%B3stico.
